* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

/*Title design*/
.titlePage {
  color: navy;
  font-family: "Courier New", monospace;
  /*background-color: #34495E;*/
}

.detailText {
  color: gray;
}

/*Images profile style*/
.profile {
  border-radius: 50%;
}

/* Style the header */
header {
  background-color: #34495e;
  padding: 30px;
  text-align: left;
  font-size: 40px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 1200px; /* only for demonstration, should be removed */
  background: #aeb6bf;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 22px;
  text-align: center;
}

article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: White;
  height: auto; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
  height: auto;
}

/* Style the footer */
footer {
  background-color: #34495e;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Brush Script MT", cursive;
}

.oganization1,
.oganization2 {
  float: left;
  padding: 20px;
  width: 40%;
  background-color: White;
  text-align: center;
}

.menu1,
.menu2,
.menu3 {
  float: left;
  padding: 20px;
  width: 25%;
  background-color: White;
}

/* Responsive layout 
- makes the two columns/boxes stack on top of each other instead of next to each others*/
@media (max-width: 600px) {
  nav,
  article,
  .oganization1,
  .oganization2 {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .oganization1,
  .oganization2 {
    width: auto;
    height: auto;
  }
}

@media (max-width: 600px) {
  .menu1,
  .menu2,
  .menu3 {
    width: auto;
    height: auto;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 30%;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #34495e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card button:hover {
  opacity: 0.7;
}
